{% extends 'layout.twig' %}

{% block body %}
  <div class="container-fluid py-4">
      <div class="row">
        <div class=" col-md-4 col-sm-12 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Top Firstname</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{topFirstname.name}}
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary btn-outline-white shadow text-center border-radius-md">
                      <div class=" font-weight-bold" style="font-size: 30px">{{topFirstname.total}}</div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-sm-12 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Top Lastname</p>
                    <h5 class="font-weight-bolder mb-0">
                      {{topLastname.name}}
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary btn-outline-white shadow text-center border-radius-md">
                      <div class=" font-weight-bold" style="font-size: 30px">{{topLastname.total}}</div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
        <div class=" col-md-4 col-sm-12  mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Last Incomes</p>
                    <h5 class="font-weight-bolder mb-0 text-success ">
                      {{lastIncomes}}
                      <span class="text-sm font-weight-bolder">in 30 days</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-satisfied text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row mt-4">
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <h6 class="ms-2 mb-1 mb-0"> Duplicated first names </h6>
              <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                <div class="chart">
                  <canvas id="chart-bars-firstnames" class="chart-canvas" height="350px"></canvas>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-lg-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <h6 class="ms-2 mb-1 mb-0"> Duplicated last names </h6>
              <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                <div class="chart">
                  <canvas id="chart-bars-lastnames" class="chart-canvas" height="350px"></canvas>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        
      </div>
      <div class="row my-4">
        <div class="col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>All first names</h6>
                </div>               
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Firstname</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Members</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total</th>
                    </tr>
                  </thead>
                  <tbody>

                  {% for oneFirstname in grouppedFirstnames %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{oneFirstname.firstname}}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="avatar-group mt-2">
                        {% for oneMember in oneFirstname.members %}
                          <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{oneMember.lastname}}">
                            <img alt="Image placeholder" src="{{oneMember.picture}}">
                          </a>
                        {% endfor %}                         
                        </div>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-xs font-weight-bold"> {{oneFirstname.members|length}} </span>
                      </td>                     
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-md-0 mb-4">
          <div class="card">
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-lg-6 col-7">
                  <h6>All last names</h6>
                </div>               
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Firstname</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Members</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total</th>
                    </tr>
                  </thead>
                  <tbody>

                  {% for oneLastname in grouppedLastnames %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{oneLastname.lastname}}</h6>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="avatar-group mt-2">
                        {% for oneMember in oneLastname.members %}
                          <a href="javascript:;" class="avatar avatar-lg rounded-circle" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{oneMember.firstname}}">
                            <img alt="Image placeholder" src="{{oneMember.picture}}">
                          </a>
                        {% endfor %}                         
                        </div>
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-xs font-weight-bold"> {{oneLastname.members|length}} </span>
                      </td>                     
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
       
      </div>
      <footer class="footer pt-3">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-left">
                © <script>
                  document.write(new Date().getFullYear())
                </script>,
                made with <i class="fa fa-heart"></i> by
                <a href="https://github.com/lalogrosz/ranking-names" class="font-weight-bold" target="_blank">Alan Grosz</a>
                for a better web.
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                  <a href="https://www.creative-tim.com" class="nav-link text-muted" target="_blank">Creative Tim</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/presentation" class="nav-link text-muted" target="_blank">About Us</a>
                </li>
                <li class="nav-item">
                  <a href="http://blog.creative-tim.com" class="nav-link text-muted" target="_blank">Blog</a>
                </li>
                <li class="nav-item">
                  <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted" target="_blank">License</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script type="text/javascript">
      
      function createBarChart(chartId, data) {
        var ctx = document.getElementById(chartId).getContext("2d");

        new Chart(ctx, {
          type: "bar",
          data: {
            labels: data.labels,
            datasets: [{
              label: "Total",
              tension: 0.4,
              borderWidth: 0,
              pointRadius: 0,
              backgroundColor: "#fff",
              data: data.values,
              maxBarThickness: 10
            }, ],
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
              display: false,
            },
            tooltips: {
              enabled: true,
              mode: "index",
              intersect: false
            },
            scales: {
              yAxes: [{
                gridLines: {
                  display: false
                },
                ticks: {
                  suggestedMin: 0,
                  beginAtZero: true,
                  precision:0,
                  padding: 0,
                  fontSize: 14,
                  lineHeight: 3,
                  fontColor: "#fff",
                  fontStyle: 'normal',
                  fontFamily: "Open Sans",
                },
              }, ],
              xAxes: [{
                gridLines: {
                  display: false
                },
                ticks: {
                  fontColor: '#fff',
                  display: true,
                  padding: 20
                },
              }, ],
            },
          },
        });
      }

      createBarChart('chart-bars-firstnames', {{ duplicatedFirstnames|json_encode }});
      createBarChart('chart-bars-lastnames', {{ duplicatedLastnames|json_encode }});
    </script>
{% endblock %}
